<table>
    <thead>
        <tr>
            <th>Ingredients</th>
            <th>Preparation</th>
        </tr>
    </thead>
    <tbody>
        {% for step in include.steps %}
            <tr>
                <td>
                    {% for ingredient in include.ingredients %}
                        {% if ingredient[1] == forloop.parentloop.index0 %}
                            <p>{{ ingredient[0] }}</p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ forloop.index }}. {{ step }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>