{% assign yaml_path = include.path | remove_first: "_posts/" | remove_first: "_drafts/" | remove_first: ".md" %}
<hr>

<h1 id="recipe">{{include.title}}</h1>

<p>Makes {{site.data.recipes[yaml_path].yield}}</p>

<h2>Prep List</h2>
<fieldset>
    {% for ingredient_group in site.data.recipes[yaml_path].ingredient_groups %}
        <div class="ingredient-group">{{ ingredient_group[0] }}</div>
        {% for ingredient in ingredient_group[1] %}
            {% include checklist-item.html quantity=ingredient.quantity name=ingredient.name prep=ingredient.prep note=ingredient.note %}
        {% endfor %}
    {% endfor %}

    {% for ingredient in site.data.recipes[yaml_path].ingredients %}
        {% include checklist-item.html quantity=ingredient.quantity name=ingredient.name prep=ingredient.prep note=ingredient.note %}
    {% endfor %}
</fieldset>

{% if site.data.recipes[yaml_path].equipment.size > 0 %}
<h2>Equipment</h2>
<fieldset>
    {% for equipment in site.data.recipes[yaml_path].equipment %}
        <div class="checklist-item">
            <input type="checkbox" id="{{equipment | slugify}}" />
            <label for="{{equipment | slugify}}">
                {{ equipment }}
                {% if ingredient.note != nil %}
                    <span class="note">
                        {{ ingredient.note }}         
                    </span>
                {% endif %}
            </label>
        </div>
    {% endfor %}
</fieldset>
{% endif %}

<h2>Procedure</h2>
<table>
    <thead>
        <tr>
            <th>Ingredients</th>
            <th>Preparation</th>
        </tr>
    </thead>
    <tbody>
        {% for step in site.data.recipes[yaml_path].steps %}
            <tr>
                <td>
                    {% for ingredient_group in site.data.recipes[yaml_path].ingredient_groups %}
                        {% for ingredient in ingredient_group[1] %}
                            {% if ingredient.step == forloop.parentloop.parentloop.index or ingredient.step contains forloop.parentloop.parentloop.index  %}
                                {% include ingredient.html quantity=ingredient.quantity name=ingredient.name prep=ingredient.prep %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    {% for ingredient in site.data.recipes[yaml_path].ingredients %}
                        {% if ingredient.step == forloop.parentloop.index or ingredient.step contains forloop.parentloop.index  %}
                            {% include ingredient.html quantity=ingredient.quantity name=ingredient.name prep=ingredient.prep %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ forloop.index }}. {{ step }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if site.data.recipes[yaml_path].notes.size > 0 %}
<h2>Notes</h2>
<div class="notes">
    {% for note in site.data.recipes[yaml_path].notes %}
    <p>{{note}}</p>
    {% endfor %}
</div>
{% endif %}
