@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

$background-color: #cccddd;
$text-color: #2f2f2f;
$text-light: #6f6f6f;
$table-color: #babddb;
$link-color: #bbbccc;

html {
  background-color: $background-color;
  color: $text-color;
  font-family: Commissioner, sans-serif;
  font-size: 13pt;
  height: 100%
}

body {
  margin: 0px;
  height: 100%;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  font-size: 36pt;
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
  flex-grow: 0;
  flex-shrink: 0;
}

footer {
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 7px;
  background-color: $text-color;
  color: $background-color;
}

main {
  max-width: 800px;
  margin: auto;
  flex-grow: 1;
}

a {
  color: $text-color;
  text-decoration: underline dotted;
}

ul {
  background-color: $table-color;
}

nav {
  background-color: $text-color;
  color: $background-color;
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    width: 100px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
    color: $background-color;
    font-weight: 500;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  th:first-of-type {
    width: 25%;
  }

  td {
    padding: 10px;
  }

  th:nth-child(1), td:nth-child(1) {
    border-right: 2px solid $text-color;
  }

  tr:nth-child(even) {
    background-color: $table-color;
  }
}

fieldset {
  background-color: $table-color;
  border-style: hidden;

  .checklist-item {
    display: flex;
    align-items: center;
    padding: 3px;
  }

  .note {
    color: $text-light;
    font-style: italic;
  }

  input {
    width: 20px;
    height: 20px;
    accent-color: $text-color;
  }
  label {
    align-content: center;
  }
}

input:checked + label {
  text-decoration: line-through;
}

.notes {
  padding: 10px;
  background-color: $table-color;
}