@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

$dark: #433A3F;
$light: #FBFBFF;
$medium: #b8c6c4;
$medium2: #657b7a;
$accent: #032b43;
$highlight: #d35b37;

$radius: 7px;

html {
  background-color: $light;
  color: $dark;
  font-family: Commissioner, sans-serif;
  font-size: 13pt;
  height: 100%
}

body {
  margin: 0px;
  height: 100%;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  font-size: 36pt;
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
}

.header:hover {
  color: $dark;
}

footer {
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 7px;
  background-color: $accent;
  color: $light;
  margin-top: 20px;

  a {
    color: $light;
    text-decoration: none;
  }
}

main {
  width: 800px;
  margin: auto;
  flex-grow: 1;
}

h2 {
  a {
    text-decoration: none;
  }
}

a {
  color: $dark;
  text-decoration: underline dotted;
}

a:hover {
  color: $highlight;
  text-decoration: none;
}

hr {
  color: $accent;
}

nav {
  background-color: $accent;
  color: $light;
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    width: 100px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
    color: $light;
    font-weight: 500;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  th:first-of-type {
    width: 25%;
  }

  td {
    padding: 10px;
  }

  th:nth-child(1), td:nth-child(1) {
    border-right: 2px solid $dark;

    p::first-letter {
      text-transform: capitalize;
    }
  }

  tr:nth-child(even) {
    background-color: $medium;
  }
}

fieldset {
  background-color: $medium;
  border-style: hidden;
  border-radius: $radius;

  .checklist-item {
    display: flex;
    align-items: center;
    padding: 3px;

    ::first-letter {
      text-transform: capitalize;
    }
  }

  .note {
    color: $medium2;
    font-style: italic;
  }

  input {
    width: 20px;
    height: 20px;
    accent-color: $highlight;
  }
  label {
    align-content: center;
    margin-left: 5px;
  }
}

input:checked + label {
  text-decoration: line-through;
}

.post {
  margin-bottom: 50px;
}

.notes {
  padding: 10px;
  background-color: $medium;
  border-radius: $radius;
}

.ingredient-group {
  font-weight: 600;
}

.tag {
  background-color: $accent;
  margin: $radius;
  padding: 3px;
  border-radius: 5px;
  align-content: center;

  a {
    color: $light;
    text-decoration: none;
  }

}

.tag:hover {
  background-color: $highlight;
}

.button {
  background-color: $highlight;
  margin: $radius;
  padding: 5px;
  border-radius: 5px;
  align-content: center;
  color: $light;
  text-decoration: none;
  margin: 0px;
}

.button:hover {
  color: $dark;
}

.subheader {
  color: $medium2;
  text-decoration: none;
  margin-top: -15px;
  font-size: 12pt;
  margin-bottom: 15px;
}

.series-nav {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .prev {
    justify-self: flex-end;
  }

  .next {
    align-self: flex-start;
  }
}

.header-search {
  align-items: center;
  display: flex;
}

#search-box {
  height: 23px;
  font-size: 13pt;
  background-color: $light;
}

.search-results {
  display: flex;
  flex-wrap: wrap
}

.search-result-tile {
  width: 350px;
  padding: 25px;
  img {
    width: 350px;
  }

  h2 {
    margin-top: 5px;
  }
}

@media print {
  header, footer, nav, img {
    display: none;
  }

  p, td, a, fieldset, .note {
    font-size: 12pt;
  }

  td {
    border-bottom: 2px solid $dark;
  }

  .recipe-subheader, .series-nav {
    display: none;
  }
}
