<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title.size > 0 %}{{ page.title }} | {% endif %}Play With Your Food
    </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    {% if page.use_mermaid %}
      <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11.5/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
      </script>
    {% endif %}
    {% feed_meta %}
    {% seo %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MB9S1Y6N2L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-MB9S1Y6N2L');
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="header">
          <a href="/">Play With Your Food</a>
        </div>
        {% include navigation.html %}
      </header>
      <main>
        {{ content }}
      </main>
      <footer>
        ©{{ 'now' | date: "%Y" }} Play With Your Food | <a href="/contact">Contact</a>
      </footer>
    </div>
  </body>
</html>
